*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    background-color: #1877f2;
    color:#fff;
    padding:20px;
    text-align: center;
}


.profile .content{
    padding:20px;
    text-align: center;
}

.details .container{
    display: flex;
    padding:20px;
    justify-content: center;
}

.details .container .left-container{
    padding:20px;
    justify-content: center;
    text-align: center;
    margin:20px;
}

.details .container .right-container{
    padding:20px;
    margin:40px 20px;
    font-size: 1.2rem;
}

.details .container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.details .container .left-container h3{
    background-color: #1877f2;
    color: #fff;
    border-radius: 12px;
    padding:2%;
    margin-top:5px;
}


footer{
    bottom:0;
    color:#606770;
    text-align: center;
    justify-content: center;
    width:100%;
    padding:5px;
}

/* ------------------- Responsive -------------------- */

@media screen and (max-width: 600px){
    .details .container{
        flex-direction: column;
    }
}